{% extends 'admin_base.html' %} {% block content %}

<div class="card card-dark p-4">
  <h2 class="mb-4">Add Product</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {% if form.non_field_errors %}
    <div class="alert alert-danger mb-3">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="mb-3">
      <input
        type="text"
        name="name"
        class="form-control"
        maxlength="50"
        placeholder="Product Name (Max: 50 Characters)"
        value="{{ request.POST.name|default:'' }}"
      />
      {% for error in form.name.errors %}
      <div class="text-danger mt-1">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      <input
        type="file"
        name="image"
        class="form-control"
        accept=".jpg,.jpeg,.png"
      />

      {% for error in form.image.errors %}
      <div class="text-danger mt-1">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      <textarea
        name="description"
        class="form-control"
        rows="5"
        placeholder="Product description (Max: 250 Characters)"
        value="{{ request.POST.name|default:'' }}"
        maxlength=250
      >
{{ request.POST.description|default:'' }}</textarea
      >

      {% for error in form.description.errors %}
      <div class="text-danger mt-1">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      <input
        type="number"
        min="1"
        name="price"
        class="form-control"
        placeholder="Price"
        value="{{ request.POST.price|default:'' }}"
      />

      {% for error in form.price.errors %}
      <div class="text-danger mt-1">{{ error }}</div>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-success">Save Product</button>
  </form>
</div>

{% endblock %}
