{% extends 'admin_base.html' %} {% block content %}
<div class="card card-dark p-4 edit-product-card">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form.non_field_errors }}
  
    <div class="mb-3">
      <label class="form-label">Product Name</label>
      {{ form.name }} {{ form.name.errors }}
    </div>
  
    <div class="mb-3">
      <label class="form-label">Current Image</label><br />
  
      {% if product.image %}
      <img src="{{ product.image.url }}" class="current-product-image" />
      {% endif %}
    </div>
  
    <div class="mb-3">
      <label class="form-label">Change Image</label>
      {{ form.image }} {{ form.image.errors }}
    </div>
  
    <div class="mb-3">
      <label class="form-label">Description</label>
      {{ form.description }} {{ form.description.errors }}
    </div>
  
    <div class="mb-3">
      <label class="form-label">Price</label>
      {{ form.price }} {{ form.price.errors }}
    </div>
  
    <button type="submit" class="btn btn-success">Update Product</button>
  </form>
</div>

 {% endblock %}
