{% extends 'admin_base.html' %} {% block login_content %}

<div class="container d-flex justify-content-center align-items-center vh-100 register-card">
  <div class="card p-4 shadow admin-login-card" style="width: 400px">
    <h2 class="text-center text-white mb-4">Seller Registration</h2>

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST" id="sellerRegisterForm">
      {% csrf_token %}

      <div class="mb-3">
        <input
          type="text"
          name="shop_name"
          class="form-control"
          placeholder="Shop Name"
          required
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Username"
          required
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>

      <button class="btn btn-success w-100">Register Seller</button>
      <a style="font-size:10px;" class="text-decoration-none text-danger fw-bold" href="{% url 'admin_login' %}">
        Already a seller! Login
      </a>
    </form>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("sellerRegisterForm");

    const shopName = document.querySelector('input[name="shop_name"]');
    const username = document.querySelector('input[name="username"]');
    const password = document.querySelector('input[name="password"]');

    form.addEventListener("submit", function (e) {
      let valid = true;

      // Remove old errors konjam kastama teriyum .error-message nu namma kudutha ellam
      // remove aairum at first then recheck pannum!
      document.querySelectorAll(".error-message").forEach(function (error) {
        error.remove();
      });
      //inga paaru remove aairum
      shopName.classList.remove("is-invalid");
      username.classList.remove("is-invalid");
      password.classList.remove("is-invalid");

      // Shop Name validate pandrom
      //empty na div create aagum elathukume apdi dha
      if (shopName.value.trim() === "") {
        valid = false;
        shopName.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Shop name is required";

        shopName.parentElement.appendChild(error);
      } else if (shopName.value.trim().length < 3) {
        valid = false;
        shopName.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Shop name must be at least 3 characters";

        shopName.parentElement.appendChild(error);
      }

      // Username Validation
      if (username.value.trim() === "") {
        valid = false;
        username.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Username is required";

        username.parentElement.appendChild(error);
      } else if (username.value.trim().length < 4) {
        valid = false;
        username.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Username must be at least 4 characters";

        username.parentElement.appendChild(error);
      } else if (username.value.trim().length > 20) {
        valid = false;
        username.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Username cannot exceed 20 characters";

        username.parentElement.appendChild(error);
      } else if (!/^[a-zA-Z_]+$/.test(username.value.trim())) {
        valid = false;
        username.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Only letters and underscore (_) allowed";

        username.parentElement.appendChild(error);
      }

      // Password Validation
      if (password.value === "") {
        valid = false;
        password.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Password is required";

        password.parentElement.appendChild(error);
      } else if (password.value.length < 8) {
        valid = false;
        password.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Password must be at least 8 characters";

        password.parentElement.appendChild(error);
      } else if (!/[A-Z]/.test(password.value)) {
        valid = false;
        password.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Password must contain uppercase letter";

        password.parentElement.appendChild(error);
      } else if (!/[a-z]/.test(password.value)) {
        valid = false;
        password.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Password must contain lowercase letter";

        password.parentElement.appendChild(error);
      } else if (!/[0-9]/.test(password.value)) {
        valid = false;
        password.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Password must contain a number";

        password.parentElement.appendChild(error);
      } else if (!/[!@#$%^&*(),.?":{}|<>]/.test(password.value)) {
        valid = false;
        password.classList.add("is-invalid");

        const error = document.createElement("div");
        error.className = "text-danger mt-1 small error-message";
        error.innerText = "Password must contain special character";

        password.parentElement.appendChild(error);
      }

      if (!valid) {
        e.preventDefault();
      }
    });
  });
</script>
{% endblock %}
