{% extends 'base.html' %} {% block content %}

<div class="cart-table container mt-4">
  <h2>My Cart</h2>

  <table class="table text-center">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Total</th>
      <th></th>
    </tr>

    {% for item in cart_items %}

    <tr>
      <td>{{ item.product.name }}</td>
      <td>₹{{ item.product.price }}</td>
      <td>
  <div class="incredecre">
    <button
      class="decrease-btn"
      data-id="{{ item.product.id }}"
    >
      -
    </button>

    <span class="mx-2 qty-{{ item.product.id }}">
      {{ item.quantity }}
    </span>

    <button
      class="increase-btn"
      data-id="{{ item.product.id }}"
    >
      +
    </button>
  </div>
</td>
      <td>₹{{ item.total }}</td>
      <td>
        <a
          href="{% url 'deleteproduct' item.product.id %}"
          class="btn btn-danger btn-sm"
        >
          Delete
        </a>
      </td>
    </tr>

    {% endfor %}
  </table>

  <h3>Grand Total : ₹{{ grand_total }}</h3>

  {% if cart_items %}
  <a href="{% url 'checkout' %}" class="btn btn-primary">
    Proceed To Checkout
  </a>
  {% else %}
  <p class="text-danger mt-3">Your cart is empty.</p>
  <a href="{% url 'viewproduct' %}" class="btn btn-info text-center text-white"
    >View Products</a
  >
  {% endif %}
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {

  document.querySelectorAll(".increase-btn").forEach(button => {

    button.addEventListener("click", () => {

      const productId = button.dataset.id;

      fetch(`/increase/${productId}/`)
      .then(response => response.json())
      .then(data => {

        if (data.success) {

          document.querySelector(`.qty-${productId}`).textContent =
            data.quantity;

          location.reload();
        }

      });

    });

  });

  document.querySelectorAll(".decrease-btn").forEach(button => {

    button.addEventListener("click", () => {

      const productId = button.dataset.id;

      fetch(`/decrease/${productId}/`)
      .then(response => response.json())
      .then(data => {

        if (data.success) {

          location.reload();

        }

      });

    });

  });

});
</script>
 {% endblock %}
