{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5 shadow">
        <div class="card-header text-center">
          <h3>Edit Profile</h3>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <div class="profile-buttons d-flex justify-space-between">
              <button type="submit" class="btn btn-success w-50">
                Update Profile
              </button>
              <a href="{% url 'profile' %}" class="btn btn-primary w-50 mt-4"
                >Cancel</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
