{% extends 'base.html' %}

{% block content %}

<div class="register-container">
    <div class="register-card">
        <h2>Register</h2>
        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            

            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
                <small class="text-danger">
                    {{ form.username.errors }}
                </small>
            </div>

            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
                <small class="text-danger">
                    {{ form.email.errors }}
                </small>
            </div>

            <div class="mb-3">
                {{ form.mobile.label_tag }}
                {{ form.mobile }}
                <small class="text-danger">
                    {{ form.mobile.errors }}
                </small>
            </div>

            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
                <small class="text-danger">
                    {{ form.password.errors }}
                </small>
            </div>

            <div class="mb-3">
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
                <small class="text-danger">
                    {{ form.confirm_password.errors }}
                </small>
            </div>

            <button type="submit" class="btn btn-success w-100">
                Register
            </button>

            <div class="text-center mt-4">
                <a href="{% url 'login' %}" class="text-white text-decoration-none">
                    Already a user? Login
                </a>
            </div>

        </form>
    </div>
</div>

{% endblock %}